footer {
    padding: 0 15px;
    height: 120px;
    background-color: var(--ct-color-bg-tertiary);
    display: flex;
    align-items: center;
  }

  .ct-footer-content{
    display: block;
    justify-content: center;
    text-align: center;
  }

  .ct-footer-content a {
    font-size: 16px;
    color: var(--ct-color-font-tertiary);
  }

  .ct-footer-content address {
    font-size: 16px;
    color: var(--ct-color-font-tertiary);
  }

  @media(min-width: 720px){
    .ct-footer-content{
        display: flex;
        justify-content: space-between;
      }
    
      .ct-footer-content a {
        font-size: 16px;
        color: var(--ct-color-font-tertiary);
      }
    
      .ct-footer-content address {
        font-size: 16px;
      }
  }